# SPDX-FileCopyrightText: 2023 Nextcloud GmbH <https://nextcloud.com/>
# SPDX-License-Identifier: AGPL-3.0-or-later

# IDE stuff
.idea
*.iml

# dependency stuff
/vendor/
node_modules/

# built files (do not clutter the repo but build them freshly)
js/
css/

# temporary files
/.php_cs.cache
js/*hot-update.*
